# ベースイメージのバージョン
BASE_IMAGE_ALPINE_VERSION=20260805

## バックエンド用環境変数
# Goのバージョン
GO_VERSION=your_go_version_here
# 初期パスワードハッシュ
INITIAL_PASSWORD_HASH=your_initial_password_hash_here
# JWT秘密鍵
JWT_SECRET_KEY=your_jwt_secret_key_here
# ソルト
SALT=your_salt_value_here
# バックエンド起動時にDBにテストデータを追加するかどうか（1:追加する、0:追加しない）
ADD_TEST_DATA=0

## フロントエンド用環境変数
# Node.jsのバージョン
NODE_VERSION=your_node_version_here
# NPMのバージョン
NPM_VERSION=your_npm_version_here
# バックエンドのURL（フロントエンドからのAPIリクエスト用）
NEXT_PUBLIC_BACKEND_URL=backend_url_here
# 天気予報情報取得先URL
NEXT_PUBLIC_WEATHER_FORECAST_URL=https://www.jma.go.jp/bosai/forecast/data/forecast/xxx.json
