## バックエンド用環境変数
# 初期パスワードハッシュ
INITIAL_PASSWORD_HASH=your_initial_password_hash_here
# JWT秘密鍵
JWT_SECRET_KEY=your_jwt_secret_key_here
# ソルト
SALT=your_salt_value_here
# バックエンド起動時にDBにテストデータを追加するかどうか（1:追加する、0:追加しない）
ADD_TEST_DATA=1
# 破壊的なDBリセットを行うかどうか（1:既存のスケジュールを削除してからテストデータを追加する、0:既存データを保持する）
RESET_SCHEDULE_DATA=0

## フロントエンド用環境変数
# バックエンドのURL（フロントエンドからのAPIリクエスト用）
NEXT_PUBLIC_BACKEND_URL=backend_url_here
# 天気予報情報取得先URL
NEXT_PUBLIC_WEATHER_FORECAST_URL=https://www.jma.go.jp/bosai/forecast/data/forecast/xxx.json
